# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env

# Build output
dist/
build/

# VS Code workspace settings
.vscode/

# OS files
.DS_Store
Thumbs.db
